{% extends "settings_layout.html" %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{{ url_for('.settings_index') }}">{{ _('Settings') }}</a></li>
    <li><a href="{{ url_for('.apikey_list') }}">{{ _('API keys') }}</a></li>
    <li>{{ _('Editor') }}</li>
</ol>
{% endblock %}
{% block settings_body %}
<form method="post" action="{{ url_for('.apikey_save') }}">
    <input type="hidden" name="id" value="{{ apikey['_id'] }}" />

    <div class="form-group">
        <label>{{ _('Key name') }}</label>
        <input type="text" class="form-control" name="name" placeholder="{{ _('Key name') }}" value="{{ apikey['name'] }}" autocomplete="off">
    </div>

    <input type="submit" value="{{ _('Save') }}" class="btn btn-success" />
</form>
{% endblock %}