{% extends "menu_layout.html" %}
{% block body %}
    <h1>{{ _('Distributives') }}</h1>

    <ol class="breadcrumb">
        <li><a href="/environment">{{ _('Environment') }}</a></li>
        <li>{{ _('Distributives of environment "%(name)s"', name=environment['name']) }}</li>
    </ol>

    <div class="btn-toolbar bottom-space" role="toolbar">
        <a href="{{ url_for('distributive.distributive_new', environment_id=environment['_id']) }}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> {{ _('Add') }}</a>
    </div>

    <table class="table table-striped table-hover">
    <tr>
        <th>{{ _('Url') }}</th>
        <th>{{ _('Version') }}</th>
        <th></th>
    </tr>
    {% for distributive in distributives %}
    <tr>
        <td><a href="{{ distributive.get_url() }}">{{ distributive.get_url() }}</a></td>
        <td>{{ distributive.version.caption }}</td>
        <td>
            <a href="{{ url_for('.distributive_edit', distributive_id=distributive['_id']) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="{{ url_for('.distributive_delete', distributive_id=distributive['_id']) }}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}