{% extends "menu_layout.html" %}
{% block body %}

<ol class="breadcrumb">
    <li><a href="/environment">{{ _('Environment') }}</a></li>
    <li>{{ _('Editor') }}</li>
</ol>

<form method="post" action="{{ url_for('environment.environment_save') }}">
    <input type="hidden" name="id" value="{{ environment._id }}" />

    <div class="form-group">
        <label>{{ _('Name') }}</label>
        <input type="text" class="form-control" name="name" placeholder="{{ _('Environment name') }}" value="{{ environment.name }}" autocomplete="off">
    </div>

    <input type="submit" value="{{ _('Save') }}" class="btn btn-success" />
</form>
{% endblock %}