{% extends "menu_layout.html" %}
{% block body %}

<ol class="breadcrumb">
    <li><a href="/environment">Environment</a></li>
    <li>Editor</li>
</ol>

<form method="post" action="{{ url_for('environment.environment_save') }}">
    <input type="hidden" name="id" value="{{ environment._id }}" />

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Environment name" value="{{ environment.name }}" autocomplete="off">
    </div>

    <input type="submit" value="Save" class="btn btn-success" />
</form>
{% endblock %}