{% extends "menu_layout.html" %}
{% block body %}
    <h1>{{ _('Environment') }}</h1>
    <div class="btn-toolbar bottom-space" role="toolbar">
        <a href="/environment/new" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> {{ _('Add') }}</a>
    </div>
    <table class="table table-striped table-hover">
    <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Latest') }}</th>
        <th></th>
    </tr>
    {% for environment in list %}
    <tr>
        <td><a href="/distributive/list/{{ environment.name }}">{{ environment.name }}</a></td>
        <td><a href="{{ environment.get_latest_distributive_url() }}">{{ environment.get_latest_distributive_url() }}</a></td>
        <td>
            <a href="{{ url_for('environment.environment_edit', environment_id=environment._id) }}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{{ url_for('environment.environment_delete', environment_id=environment._id) }}" class="btn btn-success btn-xs delete"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    {% endfor %}
    </table>
    <script type="text/javascript">
        $('.delete').click(function(e) {
            if(!confirm('{{ _('Do you realy want to delete environment?') }}')) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}

